.quick_contact {
    position: fixed;
    top: 10px;
    z-index: 2;

    p {
        margin: 0;
    }
}

section {
    margin-top: 80px;

    &::before {
        z-index: 1;
        content: '';
        display: inline-block;
        position: sticky;
        left: 0;

        transform: translateY(30px);
        width: 170px;
        height: 3px;
        background: var(--light-gray);

    }
}